body {
  font-family: 'SF Pro Display', sans-serif;
  background: #fff;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul {
  margin: 0;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Timmana', sans-serif;
  font-size: 24px;
  letter-spacing: -0.045em;
  color: #000;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.logo p,
.logo span {
  display: inline-block;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.section-inner {
  max-width: 288px;
}
.section-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important;
  font-size: 26px;
  line-height: 39px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.btn {
  color: #fff;
  background: #3F00E7;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 28px;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}
.btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.logo-mobile {
  display: none;
}
/* Header */
.header {
  margin-bottom: 80px;
}
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.header-logo h4 {
  font-family: 'Timmana', sans-serif;
  font-size: 24px;
  letter-spacing: -0.045em;
  color: #000;
}
.header-logo h4 p {
  display: inline-block;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.header-name {
  display: none;
}
.header-navs a {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.0015em;
  color: #000000;
  margin-right: 36px;
  position: relative;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}
.header-navs a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, color-stop(100%, #417fff), to(#4b3cff));
  background: linear-gradient(270deg, #417fff 100%, #4b3cff 100%);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.header-navs a:hover {
  color: #4b3cff;
}
.header-navs a:hover:after {
  content: '';
  width: 100%;
  left: 0;
}
.header-navs button {
  margin-left: 119.5px;
}
/* Burger */
.burger {
  display: none;
}
.burger-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger-navs {
  display: none;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.burger-navs a {
  margin-right: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0015em;
  color: #000;
  margin-bottom: 15px;
}
.burger-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #3F01E7;
  border-radius: 50%;
}
.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
  position: absolute;
  right: 0;
  width: 26px;
  height: 2px;
  background: #3f00e7;
  border-radius: 3px;
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.burger-btn span::before,
.burger-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.burger-btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.burger-btn_active span {
  height: 0;
}
.burger-btn_active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-btn_active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger-btn_inner {
  margin-left: auto !important;
  margin: 7px auto 0;
  max-width: 242px;
  background: transparent;
  border: 1px solid #5700FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}
.burger-btn_inner a {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0015em;
  color: #5700FF;
}
/* Main */
.main {
  padding-top: 33px;
  padding-bottom: 118px;
}
.main-type {
  position: relative;
}
.main-type-emoji {
  position: absolute;
  top: -19px;
  right: -43px;
}
.main-content {
  text-align: center;
  background: url(../img/main/bg.png) center 10% no-repeat;
  background-size: contain;
}
.main-content-welcome {
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.79);
  margin-bottom: 15px;
}
.main-content-welcome span {
  font-family: 'Timmana', sans-serif;
  color: #3F00E7;
  font-size: 20px;
  letter-spacing: -0.045em;
}
.main-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.02em;
  -webkit-font-feature-settings: 'salt' on;
          font-feature-settings: 'salt' on;
  color: #000000;
}
.main-content h1 span {
  color: #5700FF;
}
.main-content-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  max-width: 391px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 42px;
}
.main-content button {
  padding: 15.5px 23px;
}
.main-card {
  -webkit-filter: drop-shadow(0px 2px 15px rgba(63, 0, 231, 0.55));
          filter: drop-shadow(0px 2px 15px rgba(63, 0, 231, 0.55));
  background: #F9F9F9;
  border-radius: 15px;
  padding-left: 144px;
  padding-right: 157px;
  padding-top: 69px;
  padding-bottom: 69px;
  width: 808px;
  margin: 0 auto;
  margin-top: 61px;
}
.main-card-mobile {
  display: none;
}
.main-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  background: #fff;
  border-radius: 31px;
  margin: 0 auto;
  background: linear-gradient(110.48deg, rgba(255, 255, 255, 0.429) -11.52%, rgba(255, 255, 255, 0.1716) 90.66%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -46px 64px 166px rgba(104, 31, 177, 0.35);
          box-shadow: -46px 64px 166px rgba(104, 31, 177, 0.35);
}
.main-card-btn {
  margin-left: 15px;
  padding: 4px 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 9px;
  border-radius: 3px;
}
.main-card-btn:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-card-left {
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 20px;
}
.main-card-left h4 {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.main-card-left-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 6px;
  line-height: 7px;
  text-align: center;
  color: #99A5B8;
  margin: 8px 0;
}
.main-card-left button {
  margin-left: 15px;
  padding: 4px 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 9px;
  border-radius: 3px;
}
.main-card-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background: #F4F4F7;
  margin-left: 13px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}
.main-card-plan h3 {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 5px;
}
.main-card-plan p {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 7px;
  text-align: center;
  color: #99A5B8;
}
.main-card-plan h2 {
  position: absolute;
  right: 5px;
  font-weight: 700;
  font-size: 9px;
  letter-spacing: -0.02em;
  color: #000000;
}
.main-card-plan h2 span {
  color: #929AA9;
}
.main-card-secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-card-secure img {
  opacity: .3;
  width: 6px;
  height: 7px;
}
.main-card-secure p {
  margin: 0;
  font-size: 8px;
  margin-left: 5px;
}
.start {
  padding-top: 126px;
  padding-bottom: 217px;
  text-align: center;
}
.start-container {
  max-width: 954px;
  margin: 0 auto;
}
.start-container h1 {
  font-family: 'ALS Hauss', sans-serif;
  font-weight: 900;
}
.start-container p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.start-container h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 59px;
  letter-spacing: -0.02em;
}
.start-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.start-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.start-content-second {
  margin: 0 26px;
}
.start-content-third {
  margin-left: 20px;
  margin-right: 0;
}
.start-eclipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 104px;
  background: rgba(63, 0, 231, 0.22);
  border-radius: 50%;
  position: relative;
  margin-bottom: 60px;
}
.start-eclipse h1 {
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.start-emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -17px;
  right: 40px;
}
.start-emoji-first {
  top: -3px;
  right: -2px;
}
.start-emoji-second {
  top: 55px;
  left: -12px;
}
.start-emoji-third {
  top: 80px;
  left: 27px;
}
.start-emoji-fourth {
  top: -9px;
  left: 65px;
}
.start-emoji-fifth {
  top: 28px;
  right: -20px;
}
.start-line {
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}
.start-line-second {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}
.features {
  overflow: hidden;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 98px;
}
.features p {
  max-width: 541px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 43px;
}
.features p:nth-child(2) {
  letter-spacing: 0.005em;
  line-height: 24px;
}
.features h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.005em;
  margin-top: 46px;
  margin-bottom: 22px;
}
.features-mobile {
  display: none;
}
.features-slide-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(4500px);
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.features-slide-track:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.features-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F8F9FB;
  border-radius: 8px;
  min-width: 200px;
  max-height: 240px;
  padding: 16px 25px 29px;
  margin-right: 43px;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}
.features-slide:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.features-slide:nth-child(2) {
  padding: 16px 17px 29px 16px;
}
.features-slide:nth-child(5) {
  padding: 16px 23px 29px 24px;
}
.features-slide:last-child {
  margin-right: 0;
}
.features-slide h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000;
  margin-top: 6px;
  margin-bottom: 13px;
}
.features-slide p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
}
.features-eclipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 108px;
  min-height: 104px;
  border-radius: 50%;
  background: #fff;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-2250px));
            transform: translateX(calc(-2250px));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-2250px));
            transform: translateX(calc(-2250px));
  }
}
.for {
  padding-top: 79px;
  padding-bottom: 34px;
}
.for-container {
  max-width: 1405px;
  margin: 0 auto;
}
.for-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.for-content {
  text-align: center;
  margin-left: 32px;
  margin-right: 45px;
}
.for-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 24px;
}
.for-content p {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.for-content button {
  padding: 9.5px 14px;
  font-size: 16px;
  margin-top: 21px;
}
.sub {
  padding-top: 190px;
  padding-bottom: 246.5px;
}
.sub-container {
  max-width: 1015px;
  margin: 0 auto;
}
.sub-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-left {
  max-width: 287px;
}
.sub-left h1 {
  margin-bottom: 5px;
}
.sub-img {
  display: block;
  width: 535px;
}
.sub-img-second {
  display: none;
}
.sub-card {
  position: relative;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
  padding-top: 23px;
  border-radius: 10px;
}
.sub-card h4 {
  font-size: 14px;
}
.sub-card button {
  width: 94%;
  font-size: 11px;
  font-weight: 600;
}
.sub-card img {
  opacity: .3;
  width: 7px;
  height: 7px;
}
.sub-card-subtitle {
  font-size: 9px;
  font-weight: 500;
  margin: 5px 0 12px;
}
.sub-card-plan {
  min-width: 261px;
}
.sub-card-plan h3 {
  font-weight: 600;
  font-size: 10px;
}
.sub-card-plan p {
  font-weight: 400;
  font-size: 10px;
}
.sub-card-plan h2 {
  font-size: 11px;
}
.sub-bg {
  position: absolute;
  top: 37px;
  right: -30px;
  width: 485px;
  height: 312px;
  background: #000;
  opacity: 0.1;
  border-radius: 5px;
  z-index: 10;
}
.stats {
  padding-top: 54.5px;
  padding-bottom: 200px;
}
.stats-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stats-flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stats-bg-mobile {
  display: none;
}
.stats-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #F1ECFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -40px 40px 130px rgba(160, 142, 215, 0.18);
          box-shadow: -40px 40px 130px rgba(160, 142, 215, 0.18);
  margin-right: 15px;
  min-width: 323px;
  min-height: 227px;
}
.stats-card h1 {
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232D42;
}
.stats-card img {
  width: 103%;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}
.stats-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 43px;
  padding-right: 26px;
  padding-top: 20px;
}
.stats-card ul li {
  color: #7951F9;
  font-size: 20px;
}
.stats-card ul li:nth-child(2) {
  color: #DFD5FE;
}
.stats-card ul p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #232D42;
  opacity: 0.7;
}
.stats-card ul h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.44px;
  color: #232D42;
}
.stats-second {
  -webkit-transform: translateY(-115px) rotate(-30deg);
          transform: translateY(-115px) rotate(-30deg);
  padding-top: 25px;
  padding-bottom: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #F1ECFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -60px 60px 130px rgba(160, 142, 215, 0.3);
          box-shadow: -60px 60px 130px rgba(160, 142, 215, 0.3);
  margin-right: 15px;
  min-width: 323px;
  min-height: 227px;
}
.stats-second-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  padding-bottom: 28px;
}
.stats-second-flex h1 {
  padding-left: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232D42;
}
.stats-second-flex img {
  width: 32px;
  height: 32px;
}
.stats-second-img {
  display: block;
  margin: 0 auto;
  width: 85%;
}
.stats-second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 43px;
  padding-right: 26px;
  padding-top: 20px;
}
.stats-second ul li {
  color: #7951F9;
  font-size: 20px;
  margin-right: 30px;
}
.stats-second ul li:nth-child(2) {
  color: #F25368;
}
.stats-second ul p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #232D42;
  opacity: 0.7;
}
.stats-text {
  max-width: 288px;
  text-align: right;
}
#stats-text {
  display: none;
}
.world {
  padding-top: 107px;
  padding-bottom: 118px;
}
.world-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bot {
  padding-top: 174px;
  margin-bottom: 90px;
}
.bot-mobile {
  display: none;
}
.bot-inner {
  max-width: 300px;
}
.bot-inner h1 {
  margin-bottom: 35px;
}
.bot-inner p {
  margin-bottom: 25px;
}
.bot-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 90px;
  padding-right: 205px;
  background: #F2F3FF;
  border-radius: 32px;
}
.bot-phone {
  -webkit-transform: translateY(-74px);
          transform: translateY(-74px);
}
.bot-phone img {
  position: relative;
}
.bot-tg {
  position: absolute;
  top: 117px;
  right: 170px;
  padding: 12px 17.5px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 4px 21px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  min-width: 374px;
}
.bot-tg-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bot-tg-top p {
  display: inline-block;
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #1D1D1D;
  font-size: 12px;
  line-height: 14px;
}
.bot-tg-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-bottom: 12px;
}
.bot-tg-center h4 {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #1D1D1D;
}
.bot-tg-center p {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #1D1D1D;
  margin-top: 4px;
}
.bot-tg-bottom {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 10px;
  line-height: 11px;
  color: #b1b1b1;
}
.bot-subs {
  position: absolute;
  top: 222px;
  left: 205px;
  min-width: 182px;
  background: #fff;
  -webkit-box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
          box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 19px 12px;
}
.bot-subs-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bot-subs-top h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000;
  margin-right: 30px;
}
.bot-subs p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #A7A7A7;
}
.get-started {
  text-align: center;
}
.get-started-bg {
  padding-top: 48px;
  padding-bottom: 34px;
  background: linear-gradient(103.94deg, rgba(181, 112, 253, 0.6) 23.21%, rgba(187, 174, 245, 0.6) 40.62%, rgba(191, 226, 238, 0.6) 53.76%, rgba(148, 213, 97, 0.5) 67.27%);
  border-radius: 25px;
}
.get-started-bg h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.03em;
  color: #000000;
}
.get-started-bg p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  margin: 34px 0;
  max-width: 550px;
  margin: auto;
  margin-top: 43px;
  margin-bottom: 41px;
}
.get-started-bg button {
  padding: 15.5px 16.5px;
}
.footer {
  padding-top: 77px;
  padding-bottom: 70px;
}
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}
.footer-flex-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}
.footer-flex-bottom p {
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  color: rgba(0, 0, 0, 0.6);
}
.footer-flex-bottom a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.footer-flex-bottom .circle {
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  margin: 0 25px;
}
.footer-first {
  margin-right: 232px;
  max-width: 183px;
}
.footer-first p:nth-child(2) {
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 19px;
}
.footer-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.footer-navs a {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16.5px;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.footer-navs a:hover {
  color: #000000;
}
.footer-navs a img {
  margin-right: 6px;
}
.footer-second {
  min-width: 160px;
}
.footer-third {
  min-width: 150px;
  margin-left: 123px;
  margin-right: 130px;
}
.footer-fourth {
  min-width: 184px;
  text-align: right;
  color: #000;
}
.footer-fourth h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.footer-fourth h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.footer-fourth p {
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}
.footer-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-terms a {
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
.footer-terms a:hover {
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 15px;
  }
  .start {
    padding-bottom: 120px;
  }
  .sub {
    padding-top: 70px;
  }
  .for img {
    width: 340px;
  }
  .for h1 {
    font-size: 25px;
  }
  .stats-card,
  .stats-second {
    min-width: 0;
    min-height: 0;
  }
  .stats-card {
    margin-left: 35px;
    max-width: 273px;
    max-height: 220px;
  }
  .stats-card ul li {
    line-height: 1.2;
  }
  .stats-card ul li p {
    margin-bottom: 5px;
  }
  .stats-second {
    min-width: 270px;
    min-height: 220px;
  }
  .bot-flex {
    padding-left: 50px;
    padding-right: 160px;
  }
  .bot-tg {
    min-width: 300px;
    top: 100px;
  }
  .bot-subs {
    top: 200px;
    left: 195px;
  }
  .get-started {
    margin: 0 15px;
  }
  .get-started h1 {
    font-size: 26px;
  }
  .get-started p {
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 28px;
  }
  .footer-first {
    margin-right: 70px;
  }
  .footer .footer-third {
    margin-right: 0;
  }
  .footer-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 426px) {
  .section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000;
  }
  .section-text {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.005em;
    max-width: 240px;
  }
  .container {
    padding: 0 35px;
  }
  .logo-mobile {
    display: block;
  }
  .logo-pc {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    margin-bottom: 49px;
  }
  .header-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo h4 {
    display: none;
  }
  .header-name {
    display: block;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .header-flex {
    display: none;
  }
  #header-navs {
    display: none;
  }
  .main {
    padding-bottom: 0;
  }
  .main-content {
    background: none;
  }
  .main-content h1 {
    font-size: 24px;
    line-height: 118.5%;
    letter-spacing: -0.02em;
    -webkit-font-feature-settings: 'salt' on;
            font-feature-settings: 'salt' on;
  }
  .main-content-welcome {
    font-size: 14px;
  }
  .main-content-welcome span {
    font-size: 18px;
  }
  .main-content-subtitle {
    max-width: 240px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin-top: 13px;
    margin-bottom: 18px;
  }
  .main-content button {
    margin-bottom: 22px;
  }
  .main-card {
    display: none;
  }
  .main-card-mobile {
    display: block;
    text-align: center;
    padding: 27px 46px;
    -webkit-filter: drop-shadow(0px 2px 15px rgba(63, 0, 231, 0.55));
            filter: drop-shadow(0px 2px 15px rgba(63, 0, 231, 0.55));
    border-radius: 15px;
    background: #F9F9F9;
  }
  .main-card-mobile img {
    background: linear-gradient(110.48deg, rgba(255, 255, 255, 0.429) -11.52%, rgba(255, 255, 255, 0.1716) 90.66%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: -46px 64px 166px rgba(104, 31, 177, 0.35);
            box-shadow: -46px 64px 166px rgba(104, 31, 177, 0.35);
    border-radius: 26px;
  }
  .start {
    padding-top: 23px;
    padding-bottom: 50px;
  }
  .start h1 {
    font-weight: 900;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #000;
  }
  .start p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000;
    margin: 23px 0;
  }
  .start-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-line,
  .start-line-second {
    display: none;
  }
  .start-eclipse {
    margin-bottom: 9px;
  }
  .start-eclipse h1 {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -0.02em;
    color: #FFF;
  }
  .start-content {
    margin-top: 5px;
  }
  .start-content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #000;
  }
  .start-content p {
    margin-top: 0;
    max-width: 240px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
  }
  .features {
    padding-top: 0;
    padding-bottom: 48px;
  }
  .features .section-text {
    max-width: 233px;
    color: #000;
  }
  .features-slide-track {
    display: none;
  }
  .features-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-mobile-item {
    max-width: 200px;
    max-height: 240px;
    background: #F8F9FB;
    border-radius: 8px;
    padding: 16px 25px 29px;
    margin-bottom: 11px;
  }
  .features-mobile-item h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #000;
    margin-top: 6px;
    margin-bottom: 13px;
  }
  .features-mobile-item p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.7);
  }
  .features-eclipse {
    max-width: 108px;
    max-height: 104px;
    margin: auto;
  }
  .features h2 {
    display: none;
  }
  body > section.features > p:nth-child(6) {
    display: none;
  }
  .for {
    padding-top: 0;
    padding-bottom: 41px;
  }
  .for-content {
    margin: 0;
  }
  .for img {
    display: none;
  }
  .for h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000;
    margin-bottom: 22px;
  }
  .for p {
    max-width: 240px;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  .for button {
    font-size: 16px;
  }
  .sub {
    text-align: center;
    padding-top: 0;
    padding-bottom: 41px;
  }
  .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stats {
    padding-top: 0;
    padding-bottom: 0;
  }
  .stats-card {
    display: none;
  }
  .stats-second {
    display: none;
  }
  .stats-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stats-text {
    display: none;
    text-align: center;
  }
  .stats-text h1 {
    margin-bottom: 18px;
  }
  .stats #stats-text {
    display: block;
  }
  .world {
    text-align: center;
    padding-top: 0;
    padding-bottom: 37px;
  }
  .world-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .world img {
    max-width: 300px;
  }
  .world p {
    margin: auto;
    margin-bottom: 18px;
    margin-top: 12px;
  }
  .bot {
    padding-top: 0;
    padding-bottom: 37px;
    margin-bottom: 0;
  }
  .bot-container {
    padding: 0 57px;
  }
  .bot-phone {
    display: none;
  }
  .bot-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 23px 30px;
    text-align: center;
  }
  .bot-mobile {
    display: block;
  }
  .bot h1 {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: -0.5px;
  }
  .bot p {
    margin-bottom: 0;
  }
  .bot p:nth-child(3) {
    margin-bottom: 27px;
  }
  .get-started {
    padding-top: 0;
    margin: 0 57px;
    padding-bottom: 40px;
  }
  .get-started .container {
    padding: 71px 28px;
  }
  .get-started h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #000;
  }
  .get-started p {
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    margin-top: 15px;
  }
  .footer {
    text-align: center;
  }
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-flex-bottom p {
    font-size: 12px;
    line-height: 20px;
    margin-right: 56px;
  }
  .footer-flex-bottom a {
    font-size: 16px;
  }
  .footer-flex-bottom .circle {
    margin: 0 15px;
  }
  .footer-first,
  .footer-second,
  .footer-third,
  .footer-fourth {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .footer-navs a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-first h1 {
    font-size: 20px;
  }
  .footer-first p {
    font-size: 14px;
    line-height: 22px;
  }
  .footer-fourth {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-third {
    margin-right: auto;
  }
}
