/* Colors */
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}
input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.section-text {
  font-weight: 400;
  font-size: 18px;
  color: #0f091f;
  margin: 15px 0 119px;
}
.section-header h1 {
  color: #0f091f;
  font-weight: 700;
  font-size: 36px;
}
.header {
  padding: 25px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  animation-name: show_header;
  animation-duration: 0.5s;
  width: 100%;
  z-index: 999;
  padding-right: 119px;
  padding-left: 119px;
  box-shadow: 0px 16px 40px -19px rgba(0,0,0,0.3);
}
@keyframes show_header {
  0% {
    opacity: 1;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.header-navs a {
  color: #0f091f;
  margin-right: 60px;
  font-size: 18px;
  font-weight: 400;
}
.header-btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #0f091f;
  padding: 14px 40px 16px;
  border-radius: 10px;
  border: none;
}
.header-btn:hover {
  color: rgba(255,255,255,0.8);
}
.main {
  background: url(../img/main/main-bg.png) left top 25% no-repeat;
  padding: 58px 0 116px;
}
.main-content {
  margin-top: 119px;
}
.main-text {
  color: #0f091f;
}
.main-text h1 {
  font-size: 36px;
  font-weight: 700;
}
.main-text p {
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0;
}
.main-btn {
  padding: 20px 50px;
  font-weight: 700;
}
.main-btn_first {
  background-color: #6e3ef5;
  padding: 20px 40px;
  margin-right: 20px;
}
.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-img img {
  -webkit-transform: translateY(-31px);
          transform: translateY(-31px);
}
.learn {
  background: url(../img/learn/learn-bg.png) center top 10% no-repeat;
  background-size: contain;
  padding-bottom: 189px;
}
.learn-form {
  padding: 47px 85px 37px 30px;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fff;
  margin-right: 30px;
  height: 230px;
  color: #0f091f;
}
.learn-form h2 {
  font-size: 22px;
  font-weight: 700;
}
.learn-form p {
  font-size: 16px;
  font-weight: 400;
}
.learn-form-last {
  margin-right: 0;
}
.learn-img {
  position: absolute;
  -webkit-transform: translate(-30px, -50px);
          transform: translate(-30px, -50px);
}
.learn-img-second {
  -webkit-transform: translate(-24px, -60px);
          transform: translate(-24px, -60px);
}
.learn-tilda {
  border-radius: 18px;
}
.schedule {
  background: url(../img/schedule/schedule-bg.png) top 90% left 1% no-repeat;
  padding-bottom: 160px;
}
.schedule-text {
  margin: 20px 0 151px;
}
.schedule-last-lesson {
  margin: 99px 0 34px;
}
.schedule-lesson {
  margin-bottom: 0;
}
.schedule-last-ul {
  margin-bottom: 0 !important;
}
.schedule-content {
  color: #0f091f;
}
.schedule-zero {
  margin: 30px 0;
}
.schedule-content-inner {
  padding-bottom: 100px;
}
.schedule-content-left {
  text-align: right;
  padding-right: 37px;
  border-right: 1px solid #6e3ef5;
  height: 100%;
}
.schedule-content-left h2 {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 33px;
}
.schedule-content-left p {
  font-weight: 500;
  font-size: 18px;
}
.schedule-content-right h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 33px;
}
.schedule-content-right ul {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
.schedule-content-right li {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.schedule-content-right li:before {
  content: '-';
  margin-right: 8px;
}
.contact {
  background: url(../img/contact/contact-bg.png) no-repeat;
  color: #0f091f;
}
.contact-form input {
  border: none;
  border-bottom: 1px solid #0f091f;
  width: 370px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.contact-form p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-form textarea {
  border: none;
  width: 370px;
  border-bottom: 1px solid #0f091f;
  height: 90px;
  resize: none;
}
.contact-btn {
  padding: 27px 64px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #6e3ef5;
  border: none;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 47px;
}
.contact-comp {
  top: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 5px;
  left: 5px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.hamburger-menu {
  display: none;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .header-sheesh {
    margin-left: 26px;
  }
  .main {
    background: url(../img/main/main-bg.png) left -30% top 25% no-repeat;
  }
  .main-content {
    margin-left: 50px;
  }
  .main-img {
    margin-left: 398px;
  }
  .learn {
    margin-left: 50px;
    width: 100%;
    background: url(../img/learn/learn-bg.png) right 10% no-repeat;
  }
  .learn-form {
    padding-right: 0;
  }
  .schedule {
    margin-left: 50px;
    background: url(../img/schedule/schedule-bg.png) top 101% left -13% no-repeat;
  }
  .contact {
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .main {
    background: none;
    text-align: center;
  }
  .header-sheesh {
    width: 100%;
  }
  .header {
    margin-right: 55px;
  }
  .header_fixed {
    padding-right: 70px !important;
  } 
  .header a {
    margin-right: 20px;
    font-size: 15px;
  }
  .header-btn {
    padding: 10px 30px 10px;
  }
  .main-img {
    display: none;
  }
  .main-content {
    display: block;
  }
  .main-text h1 {
    font-size: 40px;
  }
  .main-text p {
    margin: 25px 0;
  }
  .header_fixed {
    padding-left: 60px;
    padding-right: 90px;
  }
  .learn {
    width: none;
    background: none;
    margin-left: 0;
  }
  .learn-form {
    max-width: 630px;
    padding-right: 30px;
    margin-top: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .learn-img {
    transform: translate(0, 15px);
  }
  .schedule {
    background: none;
  }
  .schedule-imac {
    display: none;
  }
  .schedule-content-left {
    text-align: center;
  }
  .schedule-content-right {
    text-align: center;
  }
  .contact-comp {
    display: none;
  }
  .contact {
    text-align: center;
    padding-bottom: 50px;  
  }
  .contact-img {
    display: none;  
  }
}
@media (max-width: 320px) {
  .hamburger-menu {
    display: block;
  }
  .menu__item {
    padding: 0;
    text-align: left;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
  }
  .menu__btn {
    z-index: 2;
  }
  .menu__box {
    z-index: 1;
    height: 260px;
    padding-top: 65px;
    background-color: #0f091f;
    width: 100%;
  }
  .header {
    display: none;
  }
  .main {
    padding: 0;
    margin-bottom: 45px;
  }
  .main-text h1 {
    font-size: 25px;
  }
  .main-content {
    margin: 0 10px;
  }
  .header-btn {
    margin: 0;
    margin-bottom: 5px;
    padding: 7px 25px;
  }
  .section-header h1 {
    text-align: center;
    margin: 0;
    font-size: 25px;
  }
  .section-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .schedule {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
  }
  .schedule-text {
    margin-bottom: 30px;
  }
  .schedule-content-left h2 {
    margin-bottom: 10px;
  }
  .schedule-content-left {
    border: none;
    padding: 0;
  }
  .schedule-content-right {
    padding: 0;
  }
  .schedule-content-left h2 {
    font-size: 21px;
    
  }
  .schedule-content-right h2 {
    font-size: 21px;
    margin-bottom: 20px;
    
  }
  .schedule-content-left p {
    font-size: 17px;
    
  }
  .schedule-content-right p {
    font-size: 17px;
  }
  .schedule-content-right li {
    margin-top: 3px;
  }
  .schedule-content-right ul {
    margin-bottom: 70px;
  }
  .schedule-last-lesson {
    margin: 16px 0;
  }
  .schedule-lesson {
    margin-bottom: 16px;
  }
  .schedule-zero {
    margin: 16px 0;
  }
  .schedule-content-right li:before {
    content: none;
  }
  .schedule-content-right li {
    margin: 10px 0;
  }
  .contact {
    margin: 0 10px;
    background: none;
  }
  .contact-form input {
    width: 100%;
    margin-bottom: 40px;
  }
  .contact-form textarea {
    width: 100%;
  }
  .contact-btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}